<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.event.dao.EventNotifiedMapper">

    <insert id="addNotified" >
        insert into RM_EVENT_NOTIFIED_INFO (
            NOTIFIED_USER,
            NOTIFIED_FLAG,
            NOTIFIED_TIME,
            REPORT_TIME,
            REF_EVENT_ID,
            NOTIFIED_MANAGER,
            EVENT_TYPE

        ) values (
            #{notifiedUser},
            #{notifiedFlag},
            #{notifiedTime},
            #{reportTime},
            #{refEventId},
            #{notifiedManager},
            #{eventType}
        )
    </insert>

    <update id="updateNotifiedFlag">
        update RM_EVENT_NOTIFIED_INFO set NOTIFIED_FLAG=#{notifiedFlag},REPORT_TIME=#{ymdHms} where REF_EVENT_ID=#{eventId}
    </update>

    <update id="updateNotifiedUser">
        update RM_EVENT_NOTIFIED_INFO set NOTIFIED_USER=#{notifiedUser},REPORT_TIME=#{ymdHms} where REF_EVENT_ID=#{eventId}
    </update>

    <select id="getNotified" resultType="map">
        select nt.REF_EVENT_ID as eventId,
                nt.NOTIFIED_MANAGER as manegers,
                nt.NOTIFIED_USER as users,
                ve.VENUES_ADDRES as arr,
                ve.VENUES_NAME  as nm,
                nt.EVENT_TYPE as event
        FROM RM_EVENT_NOTIFIED_INFO nt
        left join rm_call_info cal on nt.REF_EVENT_ID=cal.REF_EVENT_ID and cal.UL_FAIL_REASON=0
        join rm_event_info ev on nt.REF_EVENT_ID=ev.EVENT_ID
        left join rm_venues_info ve on ve.VENUES_ID=ev.REL_VENUES_ID
        where ev.EVENT_TYPE='01'
        and nt.NOTIFIED_FLAG='03'
        group by nt.REF_EVENT_ID
        having COUNT(cal.CALL_ID) &lt;= 0
    </select>

    <insert id="addCall" >
        insert into rm_call_info (
            ICID,
            SESSION_ID,
            UL_FAIL_REASON,
            CALL_DETAIL,
            EVENT_TYPE,
            REF_EVENT_ID

        ) values (
            #{icid},
            #{sessionId},
            #{ulFailReason},
            #{callDetail},
            #{eventType},
            #{refEventId}

        )
    </insert>

    <update id="updateCall" parameterType="com.religion.zhiyun.interfaces.entity.huawei.FeeInfo"
            keyColumn="fileId" useGeneratedKeys="true" keyProperty="fileId">
        update rm_call_info set
            ICID=#{icid},
            UL_FAIL_REASON=#{ulFailReason} ,
            CALL_DETAIL=#{callDetail}
        where SESSION_ID=#{sessionId}
        and EVENT_TYPE=#{eventType}
    </update>

</mapper>
