<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.event.dao.EventNotifiedMapper">

    <insert id="addNotified" >
        insert into RM_EVENT_NOTIFIED_INFO (
            NOTIFIED_USER,
            NOTIFIED_FLAG,
            NOTIFIED_TIME,
            REPORT_TIME,
            REF_EVENT_ID,
            NOTIFIED_MANAGER
        ) values (
            #{notifiedUser},
            #{notifiedFlag},
            #{notifiedTime},
            #{reportTime},
            #{refEventId},
            #{notifiedManager}
        )
    </insert>

    <update id="updateNotifiedFlag">
        update RM_EVENT_NOTIFIED_INFO set NOTIFIED_FLAG=#{notifiedFlag},REPORT_TIME=#{ymdHms} where REF_EVENT_ID=#{eventId}
    </update>

</mapper>
