<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.monitor.dao.MonitorStatMapper">
    <insert id="add" >
        insert into rm_monitor_stat
        (
        CODE,
        MSG,
        DATA,
        CHANNEL_ID,
        RECORD_DATE
        )
        values(
        #{code},
        #{msg},
        #{data},
        #{channelId},
        #{recordDate}
        )
    </insert>

</mapper>
