<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.religion.zhiyun.monitor.dao.MonitorBaseMapper">
    <sql id="monitColumn">
        MONIT_ID as monitId,
        CHANNEL_ID as channelId,
        CHANNEL_NAME as channelName,
        CASE MONIT_STATE WHEN '01' THEN '在线'  ELSE '报修' END as monitState,
        REL_VENUES_ID as relVenuesId
    </sql>

    <select id="getVenue" resultType="string">
        select
            REL_VENUES_ID as relVenuesId
        from RM_MONITOR_BASE_INFO
        <if test="channelId != null and channelId != ''">
            where  CHANNEL_ID = #{channelId}
        </if>
    </select>


</mapper>
