<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.record.dao.OperateRecordMapper">

    <sql id="recordColumn">
        RECORD_ID as recordId,
        OPERATOR as operator,
        OPERATE_CONTENT as operateContent,
        OPERATE_DETAIL as operateDetail,
        OPERATE_TIME as operateTime,
        OPERATE_REF as operateRef,
        OPERATE_TYPE as operateType
    </sql>

    <insert id="add">
        insert into RM_OPERATE_RECORD_INFO
        (
            OPERATOR,
            OPERATE_CONTENT,
            OPERATE_DETAIL,
            OPERATE_TIME,
            OPERATE_REF,
            OPERATE_TYPE
         )
        values(
            #{operator},
            #{operateContent},
            #{operateDetail},
            #{operateTime},
            #{operateRef},
            #{operateType}
        )
    </insert>

    <select id="findRecordByPage" resultType="com.religion.zhiyun.record.entity.RecordEntity">
        select
            u.USER_NM as operator,
            OPERATE_CONTENT as operateContent,
            OPERATE_DETAIL as operateDetail,
            (select di.DICT_CN_DESC from rm_sys_dict di where di.DICT_TYPE_CD='1007' and di.DICT_CD=re.OPERATE_TYPE) as operateType,
            DATE_FORMAT(OPERATE_TIME,'%Y-%m-%d %H:%i:%s') as operateTm
        from RM_OPERATE_RECORD_INFO re
        left join rm_sys_user_info u on re.OPERATOR=u.USER_MOBILE
        where 1=1
        <if test="vo.searchOne != null and vo.searchOne != ''">
            and u.USER_NM  LIKE concat('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            and re.OPERATE_TYPE  =#{vo.searchTwo}
        </if>

        <if test="vo.searchThree != null and vo.searchThree != ''">
            and re.OPERATE_TIME &gt;= #{vo.searchThree}
        </if>
        <if test="vo.searchFour != null and vo.searchFour != ''">
            and re.OPERATE_TIME &lt;= #{vo.searchFour}
        </if>

        ORDER BY re.OPERATE_TIME DESC
        limit #{vo.page},#{vo.size}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select
            count(RECORD_ID)
        from RM_OPERATE_RECORD_INFO re
        left join rm_sys_user_info u on re.OPERATOR=u.USER_MOBILE
        where 1=1
        <if test="vo.searchOne != null and vo.searchOne != ''">
            and u.USER_NM  LIKE concat('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            and re.OPERATE_TYPE  =#{vo.searchTwo}
        </if>

        <if test="vo.searchThree != null and vo.searchThree != ''">
            and re.OPERATE_TIME &gt;= #{vo.searchThree}
        </if>
        <if test="vo.searchFour != null and vo.searchFour != ''">
            and re.OPERATE_TIME &lt;= #{vo.searchFour}
        </if>
    </select>

</mapper>
