<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.religion.zhiyun.monitor.dao.RmMonitroInfoMapper">
    <sql id="monitroColumn">
        MONITOR_ID as monitorId,
        ACCESS_NUMBER as accessNumber,
        r.MONITOR_URL as monitorUrl,
        CASE STATE WHEN '01' THEN '在线'  ELSE '报修' END as state,
        FUNCTION_TYPE as functionType,
        REL_VENUES_ID as relVenuesId,
        CREATOR as creator,
        CREATE_TIME as createTime,
        LAST_MODIFIER as lastModifier,
        LAST_MODIFY_TIME as lastModifyTime
    </sql>

    <insert id="addMonitro" >
        insert into rm_monitor_manage_info
        (
        ACCESS_NUMBER,
        MONITOR_URL,
        STATE,
        FUNCTION_TYPE,
        REL_VENUES_ID,
        CREATOR,
        CREATE_TIME,
        LAST_MODIFIER,
        LAST_MODIFY_TIME
        )
        values(
        #{accessNumber},
        #{monitorUrl},
        #{state},
        #{functionType},
        #{relVenuesId},
        #{creator},
        #{createTime},
        #{lastModifier},
        #{lastModifyTime}
        )
    </insert>

    <update id="updateMonitro">
        update rm_monitor_manage_info
        set STATE=#{state},
            FUNCTION_TYPE=#{functionType},
            REL_VENUES_ID=#{relVenuesId},
            LAST_MODIFIER=#{lastModifier},
            LAST_MODIFY_TIME= #{lastModifyTime}
        where MONITOR_ID=#{monitorId}
    </update>

    <delete id="deleteMonitro">
        delete from rm_monitor_manage_info
        where MONITOR_ID=#{monitorId}
    </delete>
    <select id="allMonitro" resultType="com.religion.zhiyun.monitor.entity.MonitroEntity">
        select
        <include refid="monitroColumn"/>
        from rm_monitor_manage_info
    </select>
    <select id="getAllNum" resultType="java.util.Map">
        SELECT COUNT(MONITOR_ID) AS total,
        SUM(CASE WHEN STATE =01 THEN 1 ELSE 0 END) AS onLine,
        SUM(CASE WHEN STATE =02 THEN 1 ELSE 0 END) AS repair,
        (select count(v.VENUES_ID) from rm_venues_info v where v.VENUES_STATUS='01') as religionsNum
        FROM rm_monitor_manage_info
    </select>
    <select id="getMonitorByState" resultType="com.religion.zhiyun.monitor.entity.MonitroEntity">
        select <include refid="monitroColumn"/> from rm_monitor_manage_info
        where state=#{state}
        ORDER BY MONITOR_ID DESC
    </select>
    <select id="getMonitorByVenuesId" resultType="com.religion.zhiyun.monitor.entity.MonitroEntity">
        SELECT <include refid="monitroColumn"/>FROM rm_monitor_manage_info
        INNER JOIN rm_venues_info ON rm_venues_info.VENUES_ID=rm_monitor_manage_info.REL_VENUES_ID
        WHERE state=#{state}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from RM_MONITOR_MANAGE_INFO
    </select>

    <select id="getMonitrosByPage" resultType="com.religion.zhiyun.monitor.entity.MonitroEntity">
        select
            MONITOR_ID as monitorId,
            ACCESS_NUMBER as accessNumber,
            MONITOR_URL as monitorUrl,
            CASE STATE WHEN '01' THEN '在线'  ELSE '报修' END as state,
            FUNCTION_TYPE as functionType,
            v.VENUES_ADDRES as venuesAddres,
            r.CREATOR as creator,
            r.CREATE_TIME as createTime,
            r.LAST_MODIFIER as lastModifier,
            r.LAST_MODIFY_TIME as lastModifyTime
        from RM_MONITOR_MANAGE_INFO r
        left join RM_VENUES_INFO v on r.REL_VENUES_ID=v.VENUES_ID
        where 1=1
        <if test="accessNumber != null and accessNumber != ''">
            AND  ACCESS_NUMBER LIKE CONCAT('%',#{accessNumber},'%')
        </if>
        order by r.LAST_MODIFY_TIME desc
        limit #{page},#{size}
    </select>
    <select id="getMonitorURLByAccessNum" resultType="java.lang.String">
        SELECT monitor_url FROM rm_monitor_manage_info
        WHERE access_number=#{accessNumber}
    </select>

    <select id="getVenuesMonitor" resultType="map">
        select
            VENUES_NAME as venuesName,
            VENUES_ADDRES as venuesAddres,
            ORGANIZATION as organization,
            REGISTER_NBR as registerNbr,
            RESPONSIBLE_PERSON  as responsiblePerson,
            sr.STAFF_TELPHONE as responsiblePersonPhone,
            LIAISON_MAN as liaisonMan,
            sl.STAFF_TELPHONE as liaisonManPhone,
            d.DICT_CN_DESC as religiousSect,
            VENUES_PHONE as venuesPhone,
            PICTURES_PATH as picturesPath,
            m.MONITOR_URL as monitorUrl,
            BRIEF_INTRODUCTION as briefIntroduction,
            ve.CREATOR as creator,
            ve.CREATE_TIME as createTime,
            ve.LAST_MODIFIER as lastModifier,
            ve.LAST_MODIFY_TIME as lastModifyTime
        from RM_VENUES_INFO ve
        left join rm_staff_info sr on ve.RESPONSIBLE_PERSON=sr.STAFF_CN_NM
        left join rm_staff_info sl on ve.LIAISON_MAN=sl.STAFF_CN_NM
        left join rm_monitor_manage_info m on ve.VENUES_ID=m.rel_venues_id
        left join RM_SYS_DICT d on ve.RELIGIOUS_SECT=d.DICT_CD
        where VENUES_STATUS!='02'
        <if test="accessNumber != null and accessNumber != ''">
            AND  m.ACCESS_NUMBER =#{accessNumber}
        </if>
        <if test="venuesName != null and venuesName != ''">
            AND  ve.VENUES_NAME LIKE CONCAT('%',#{venuesName},'%')
        </if>
        limit #{page},#{size}
    </select>

    <select id="getVenuesMonitorTotal" resultType="java.lang.Long">
        select
            count(ve.VENUES_ID)
        from RM_VENUES_INFO ve
        left join rm_monitor_manage_info m on ve.VENUES_ID=m.rel_venues_id
        where ve.VENUES_STATUS!='02'
        <if test="accessNumber != null and accessNumber != ''">
            AND  m.ACCESS_NUMBER =#{accessNumber}
        </if>
        <if test="venuesName != null and venuesName != ''">
            AND  ve.VENUES_NAME LIKE CONCAT('%',#{venuesName},'%')
        </if>
    </select>


    <select id="getMonitors" resultType="map">
        select
            VENUES_NAME as venuesName,
            VENUES_ADDRES as venuesAddres,
            ORGANIZATION as organization,
            REGISTER_NBR as registerNbr,
            RESPONSIBLE_PERSON  as responsiblePerson,
            sr.STAFF_TELPHONE as responsiblePersonPhone,
            LIAISON_MAN as liaisonMan,
            sl.STAFF_TELPHONE as liaisonManPhone,
            d.DICT_CN_DESC as religiousSect,
            VENUES_PHONE as venuesPhone,
            PICTURES_PATH as picturesPath,
            m.MONITOR_URL as monitorUrl,
            BRIEF_INTRODUCTION as briefIntroduction,
            ve.CREATOR as creator,
            ve.CREATE_TIME as createTime,
            ve.LAST_MODIFIER as lastModifier,
            ve.LAST_MODIFY_TIME as lastModifyTime
        from rm_monitor_manage_info m
        left join  RM_VENUES_INFO ve on ve.VENUES_ID=m.rel_venues_id
        left join rm_staff_info sr on ve.RESPONSIBLE_PERSON=sr.STAFF_CN_NM
        left join rm_staff_info sl on ve.LIAISON_MAN=sl.STAFF_CN_NM
        left join RM_SYS_DICT d on ve.RELIGIOUS_SECT=d.DICT_CD
        where VENUES_STATUS!='02'
        <if test="accessNumber != null and accessNumber != ''">
            AND  m.ACCESS_NUMBER =#{accessNumber}
        </if>
        <if test="venuesName != null and venuesName != ''">
            AND  ve.VENUES_NAME LIKE CONCAT('%',#{venuesName},'%')
        </if>
        <if test="state != null and state != ''">
            AND  m.STATE =#{state}
        </if>
    </select>

</mapper>
