<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.news.dao.RmNewsInfoMapper">

    <sql id="newsColumn">
        NEWS_ID as newsId,
        NEWS_VIEWS as newsViews,
        NEWS_TITLE as newsTitle,
        NEWS_KEYWORD as newsKeyword,
        NEWS_CONTENT as newsContent,
        NEWS_FROM as newsFrom,
        NEWS_REF as newsRef,
        NEWS_TYPE as newsType,
        NEWS_DOWN as newsDown,
        NEWS_FOR as newsFor,
        NEWS_PICTURES_PATH as newsPicturesPath,
        CREATOR as creator,
        CREATE_TIME as createTime,
        LAST_MODIFIER as lastModifier,
        LAST_MODIFY_TIME as lastModifyTime,
        NEWS_REF_TYPE as  newsRefType,
        NEWS_VIDEOS_PATH as newsVideosPath
    </sql>

    <insert id="add" parameterType="com.religion.zhiyun.news.entity.NewsEntity"
            keyColumn="newsId" useGeneratedKeys="true" keyProperty="newsId">
        INSERT INTO
            RM_NEWS_INFO(
                 NEWS_VIEWS,
                 NEWS_TITLE,
                 NEWS_KEYWORD,
                 NEWS_CONTENT,
                 NEWS_FROM,
                 NEWS_REF,
                 NEWS_TYPE,
                 NEWS_DOWN,
                 NEWS_PICTURES_PATH,
                 NEWS_VIDEOS_PATH,
                 CREATOR,
                 CREATE_TIME,
                 LAST_MODIFIER,
                 LAST_MODIFY_TIME,
                 NEWS_FOR,
                 NEWS_REF_TYPE
            )
             VALUES(
                 #{newsViews},
                 #{newsTitle},
                 #{newsKeyword},
                 #{newsContent},
                 #{newsFrom},
                 #{newsRef},
                 #{newsType},
                 #{newsDown},
                 #{newsPicturesPath},
                 #{newsVideosPath},
                 #{creator},
                 #{createTime},
                 #{lastModifier},
                 #{lastModifyTime},
                 #{newsFor},
                 #{newsRefType}
             );
    </insert>

    <select id="getNewsByPage" resultType="com.religion.zhiyun.news.entity.NewsEntity">
        select
            NEWS_ID as newsId,
            NEWS_VIEWS as newsViews,
            NEWS_TITLE as newsTitle,
            NEWS_KEYWORD as newsKeyword,
            NEWS_CONTENT as newsContent,
            NEWS_FROM as newsFrom,
            NEWS_REF as newsRef,
            dict.DICT_CN_DESC as newsType,
            NEWS_DOWN as newsDown,
            NEWS_PICTURES_PATH as newsPicturesPath,
            CREATOR as creator,
            NEWS_FOR as newsFor,
            DATE_FORMAT(news.CREATE_TIME,'%Y-%m-%d %H:%i:%s') as createTime,
            DATE_FORMAT(news.CREATE_TIME,'%Y') as releaseYear,
            DATE_FORMAT(news.CREATE_TIME,'%m') as releaseMonth,
            DATE_FORMAT(news.CREATE_TIME,'%d') as releaseDay
        from RM_NEWS_INFO  news
        LEFT JOIN rm_sys_dict dict on news.NEWS_TYPE=dict.DICT_CD
        where NEWS_DOWN='1'
        <if test="vo.searchOne != null and vo.searchOne != ''">
            AND  NEWS_TITLE LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            AND  NEWS_REF_TYPE =#{vo.searchTwo}
        </if>
        <if test="vo.searchThree != null and vo.searchThree != ''">
            AND  NEWS_FOR !=#{vo.searchThree}
        </if>
        <if test="vo.searchFour != null and vo.searchFour != ''">
            AND  NEWS_TYPE =#{vo.searchFour}
        </if>
        order by CREATE_TIME desc
        limit #{vo.page},#{vo.size}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select
            count(NEWS_ID)
        from RM_NEWS_INFO
        where NEWS_DOWN='1'
        <if test="vo.searchOne != null and vo.searchOne != ''">
            AND  NEWS_TITLE LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            AND  NEWS_REF_TYPE =#{vo.searchTwo}
        </if>
        <if test="vo.searchThree != null and vo.searchThree != ''">
            AND  NEWS_FOR !=#{vo.searchThree}
        </if>
        <if test="vo.searchFour != null and vo.searchFour != ''">
            AND  NEWS_TYPE =#{vo.searchFour}
        </if>
    </select>

    <delete id="delete">
        delete from RM_NEWS_INFO where NEWS_ID = #{newsId}
    </delete>

    <update id="updateNewsDown" parameterType="com.religion.zhiyun.news.entity.NewsEntity">
        update RM_NEWS_INFO
        set
            NEWS_DOWN=#{newsDown},
            LAST_MODIFIER=#{lastModifier},
            LAST_MODIFY_TIME=#{lastModifyTime}
        WHERE NEWS_ID=#{newsId}
    </update>

    <update id="update" parameterType="com.religion.zhiyun.news.entity.NewsEntity">
        update RM_NEWS_INFO
        set
            NEWS_VIEWS=#{newsViews},
            NEWS_TITLE=#{newsTitle},
            NEWS_KEYWORD=#{newsKeyword},
            NEWS_CONTENT=#{newsContent},
            NEWS_FROM=#{newsFrom},
            NEWS_FOR=#{newsFor},
            NEWS_REF=#{newsRef},
            NEWS_TYPE=#{newsType},
            NEWS_PICTURES_PATH=#{newsPicturesPath},
            LAST_MODIFIER=#{lastModifier},
            LAST_MODIFY_TIME=#{lastModifyTime}

        WHERE NEWS_ID=#{newsId}
    </update>


    <select id="getPcNewsPage" resultType="com.religion.zhiyun.news.entity.NewsEntity">
        select
            NEWS_ID as newsId,
            NEWS_VIEWS as newsViews,
            NEWS_TITLE as newsTitle,
            NEWS_KEYWORD as newsKeyword,
            NEWS_CONTENT as newsContent,
            NEWS_FROM as newsFrom,
            NEWS_REF as newsRef,
            dict.DICT_CN_DESC as newsType,
            NEWS_DOWN as newsDown,
            NEWS_PICTURES_PATH as newsPicturesPath,
            CREATOR as creator,
            NEWS_FOR as newsFor,
            DATE_FORMAT(news.CREATE_TIME,'%Y-%m-%d %H:%i:%s') as createTime,
            case NEWS_REF_TYPE
            when '01' then '一般新闻'
            when '02' then '图片新闻'
            else NEWS_REF_TYPE
            end as newsRefType,
            case NEWS_TYPE
            when '01' then '宗教文化'
            when '02' then '政策学习'
            when '03' then '瓯海动态'
            else NEWS_TYPE
            end as newsType
        from RM_NEWS_INFO  news
        LEFT JOIN rm_sys_dict dict on news.NEWS_TYPE=dict.DICT_CD
        where 1=1
        <if test="vo.searchOne != null and vo.searchOne != ''">
            AND  NEWS_TITLE LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            AND  NEWS_REF_TYPE =#{vo.searchTwo}
        </if>
        <if test="vo.searchThree != null and vo.searchThree != ''">
            AND  NEWS_FOR =#{vo.searchThree}
        </if>
        <if test="vo.searchFour != null and vo.searchFour != ''">
            AND  NEWS_TYPE =#{vo.searchFour}
        </if>
        order by NEWS_DOWN desc,CREATE_TIME desc
        limit #{vo.page},#{vo.size}
    </select>

    <select id="getPcNewsTotal" resultType="java.lang.Long">
        select
        count(NEWS_ID)
        from RM_NEWS_INFO
        where 1=1
        <if test="vo.searchOne != null and vo.searchOne != ''">
            AND  NEWS_TITLE LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            AND  NEWS_REF_TYPE =#{vo.searchTwo}
        </if>
        <if test="vo.searchThree != null and vo.searchThree != ''">
            AND  NEWS_FOR =#{vo.searchThree}
        </if>
        <if test="vo.searchFour != null and vo.searchFour != ''">
            AND  NEWS_TYPE =#{vo.searchFour}
        </if>
    </select>

    <select id="getNewsContent" resultType="com.religion.zhiyun.news.entity.NewsEntity">
        select
            <include refid="newsColumn"/>
        from RM_NEWS_INFO
        where NEWS_ID=#{newId}
    </select>

</mapper>
