<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.staff.dao.RmStaffInfoMapper">
    <sql id="staffColumn">
        STAFF_ID as staffId,
        STAFF_CD as staffCd,
        STAFF_CN_NM as staffName,
        CERT_TYPE_CD as certTypeCd,
        CERT_NBR as certNbr,
        SEX as sex,
        RELIGIOUS_SECT as religiousSect,
        RELIGIOUS_TYPE as religiousType,
        NATION as nation,
        NATIVE_PLACE as nativePlace,
        RELIGIOUS_GROUP as religiousGroup,
        RELIGIOUS_VENUES as religiousVenues,
        VENUES_POST as venuesPost,
        BIRTHDAY as birthday,
        MAILING_ADDRESS as mailingAddress,
        REGISTERED_RESIDENCE as registeredResidence,
        STAFF_PICTURE as staffPicture,
        STAFF_TELPHONE as staffTelphone,
        POLITICAL as political,
        SOCIETY_CULTURE as societyCulture,
        SOCIETY_SCHOOL as societySchool,
        RELIGIOUS_CULTURE as religiousCulture,
        RELIGIOUS_SCHOOL as religiousSchool,
        COMPANY as company,
        STAFF_STATUS as staffStatus,
        STAFF_POST as staffPost,
        REL_VENUES_ID as relVenuesId,
        POSTTION as posttion,
        CERTIFICATE_UNIT as certificateUnit,
        CERTIFICATE_TIME as certificateTime,
        CERTIFICATE_NUMBER as certificateNumber,
        CREATOR as creator,
        CREATE_TIME as createTime,
        LAST_MODIFIER as lastModifier,
        LAST_MODIFY_TIME as lastModifyTime
    </sql>


    <insert id="add" parameterType="com.religion.zhiyun.staff.entity.StaffEntity">
        insert into rm_staff_info
        VALUES(#{staffId},#{staffCd},#{staffName},#{certTypeCd},#{certNbr},#{sex},#{religiousSect},#{religiousType},#{nation},#{nativePlace},
                #{religiousGroup},#{religiousVenues},#{venuesPost},#{birthday},#{mailingAddress},#{registeredResidence},#{staffPicture},
                #{staffTelphone},#{political},#{societyCulture},#{societySchool},#{religiousCulture},#{religiousSchool},#{company},
                #{staffStatus},#{staffPost},#{relVenuesId},#{posttion},#{certificateUnit},#{certificateTime},#{certificateNumber},
                #{creator},#{createTime},#{lastModifier},#{lastModifyTime})
    </insert>
    <update id="update">
        update rm_staff_info
        set
            RELIGIOUS_SECT=#{religiousSect},
            STAFF_PICTURE=#{staffPicture},
            STAFF_TELPHONE=#{staffTelphone},
            STAFF_POST=#{staffPost},
            REL_VENUES_ID=#{relVenuesId},
            CERT_TYPE_CD =#{certTypeCd},
            CERT_NBR =#{certNbr},
            LAST_MODIFIER=#{lastModifier},
            LAST_MODIFY_TIME= #{lastModifyTime}
        WHERE STAFF_ID = #{staffId}
    </update>

    <update id="delete">
        update RM_STAFF_INFO set STAFF_STATUS='02' where STAFF_ID = #{staffId}
    </update>

    <select id="all" resultType="com.religion.zhiyun.staff.entity.StaffEntity">
        select <include refid="staffColumn"/> from rm_staff_info
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from RM_STAFF_INFO  where STAFF_STATUS!='02'
    </select>

    <select id="getStaffByPage" resultType="com.religion.zhiyun.staff.entity.StaffEntity">
        select
        STAFF_ID as staffId,
        STAFF_CD as staffCd,
        STAFF_CN_NM as staffName,
        CERT_TYPE_CD as certTypeCd,
        CERT_NBR as certNbr,
        SEX as sex,
        d.DICT_CN_DESC as religiousSect,
        RELIGIOUS_TYPE as religiousType,
        NATION as nation,
        NATIVE_PLACE as nativePlace,
        RELIGIOUS_GROUP as religiousGroup,
        RELIGIOUS_VENUES as religiousVenues,
        VENUES_POST as venuesPost,
        BIRTHDAY as birthday,
        MAILING_ADDRESS as mailingAddress,
        REGISTERED_RESIDENCE as registeredResidence,
        STAFF_PICTURE as staffPicture,
        STAFF_TELPHONE as staffTelphone,
        POLITICAL as political,
        SOCIETY_CULTURE as societyCulture,
        SOCIETY_SCHOOL as societySchool,
        RELIGIOUS_CULTURE as religiousCulture,
        RELIGIOUS_SCHOOL as religiousSchool,
        COMPANY as company,
        STAFF_STATUS as staffStatus,
        STAFF_POST as staffPost,
        REL_VENUES_ID as relVenuesId,
        POSTTION as posttion,
        CERTIFICATE_UNIT as certificateUnit,
        CERTIFICATE_TIME as certificateTime,
        CERTIFICATE_NUMBER as certificateNumber,
        CREATOR as creator,
        CREATE_TIME as createTime,
        LAST_MODIFIER as lastModifier,
        LAST_MODIFY_TIME as lastModifyTime
        from RM_STAFF_INFO ve
        left join RM_SYS_DICT d on ve.RELIGIOUS_SECT=d.DICT_CD
        where STAFF_STATUS!='02'
        <if test="staffName != null and staffName != ''">
            AND  STAFF_CN_NM LIKE CONCAT('%',#{staffName},'%')
        </if>
        <if test="staffPost != null and staffPost != ''">
            AND  STAFF_POST = #{staffPost}
        </if>
        <if test="religiousSect != null and religiousSect != ''">
            AND  RELIGIOUS_SECT = #{religiousSect}
        </if>
        order by LAST_MODIFY_TIME desc
        limit #{page},#{size}
    </select>

    <select id="getMaxStaffCd" resultType="java.lang.Long">
        select max(STAFF_CD) as staffCd from RM_STAFF_INFO
    </select>

    <select id="getStaffByVenuesId" resultType="com.religion.zhiyun.staff.entity.StaffEntity">
        select
            STAFF_CD as staffCd,
            STAFF_CN_NM as staffName
        from RM_STAFF_INFO
        where STAFF_STATUS='01'
        <if test="relVenuesId != null and relVenuesId != ''">
            AND  REL_VENUES_ID = #{relVenuesId}
        </if>
    </select>

</mapper>
