<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.venues.dao.RmVenuesInfoMapper">
    <sql id="venuesColumn">
        VENUES_ID as venuesId ,
        VENUES_NAME as venuesName,
        RELIGIOUS_SECT as religiousSect,
        REGISTER_NBR as registerNbr,
        VENUES_PHONE as venuesPhone,
        ORGANIZATION as organization,
        VENUES_ADDRES as venuesAddres,
        PICTURES_PATH as picturesPath,
        RESPONSIBLE_PERSON  as responsiblePerson,
        LIAISON_MAN as liaisonMan,
        BRIEF_INTRODUCTION as briefIntroduction,
        VENUES_STATUS as venuesStatus,
        CREATOR as creator,
        CREATE_TIME as createTime,
        LAST_MODIFIER as lastModifier,
        LAST_MODIFY_TIME as lastModifyTime

    </sql>

    <sql id="twoColumn">
        VENUES_ID as venuesId ,
        VENUES_NAME as venuesName,
        rm_venues_info.RELIGIOUS_SECT as religiousSect,
        REGISTER_NBR as registerNbr,
        VENUES_PHONE as venuesPhone,
        ORGANIZATION as organization,
        VENUES_ADDRES as venuesAddres,
        PICTURES_ONE as picturesOne,
        PICTURES_TWO as picturesTwo,
        PICTURES_THREE as picturesThree,
        rm_venues_info.RESPONSIBLE_PERSON  as responsiblePerson,
        LIAISON_MAN as liaisonMan,
        BRIEF_INTRODUCTION as briefIntroduction,
        VENUES_STATUS as venuesStatus,
        rm_staff_info.STAFF_CD as staffCd,
        STAFF_CN_NM as staffName,
        CERT_TYPE_CD as certTypeCd,
        CERT_NBR as certNbr,
        STAFF_PICTURE as staffPicture,
        STAFF_TELPHONE as staffTelphone,
        STAFF_STATUS as staffStatus,
        STAFF_POST as staffPost,
    </sql>

    <select id="getByVenuesFaculty" resultType="com.religion.zhiyun.venues.entity.VenuesEntity">
        SELECT <include refid="twoColumn"/>
        FROM rm_venues_info
        INNER JOIN rm_staff_info ON rm_staff_info.STAFF_CD=rm_venues_info.RESPONSIBLE_PERSON
        <!--<where>
            <if test="venuesName!=null and venuesName!=''">
                VENUES_NAME LIKE concat('%',#{venuesName},'%')
            </if>
            <if test="venuesName!=null and venuesName!=''">
                STAFF_CN_NM=#{responsiblePerson}
            </if>
        </where>-->
    </select>

    <select id="queryAll" resultType="com.religion.zhiyun.venues.entity.VenuesEntity">
        select
        <include refid="venuesColumn"/>
        from RM_VENUES_INFO
    </select>

    <insert id="add" parameterType="com.religion.zhiyun.venues.entity.VenuesEntity">
        insert into RM_VENUES_INFO(
            VENUES_ID,
            VENUES_NAME,
            RELIGIOUS_SECT,
            REGISTER_NBR,
            VENUES_PHONE,
            ORGANIZATION,
            VENUES_ADDRES,
            PICTURES_PATH,
            RESPONSIBLE_PERSON,
            LIAISON_MAN,
            BRIEF_INTRODUCTION,
            VENUES_STATUS,
            CREATOR,
            CREATE_TIME,
            LAST_MODIFIER,
            LAST_MODIFY_TIME
        )values (
                    #{venuesId},
                    #{venuesName},
                    #{religiousSect},
                    #{registerNbr},
                    #{venuesPhone},
                    #{organization},
                    #{venuesAddres},
                    #{picturesPath},
                    #{responsiblePerson},
                    #{liaisonMan},
                    #{briefIntroduction},
                    #{venuesStatus},
                    #{creator},
                    #{createTime},
                    #{lastModifier},
                    #{lastModifyTime}
                )
    </insert>

    <update id="update" parameterType="com.religion.zhiyun.venues.entity.VenuesEntity">
        UPDATE
            RM_VENUES_INFO
        set VENUES_ADDRES=#{venuesAddres},
            PICTURES_PATH=#{picturesPath},
            RELIGIOUS_SECT=#{religiousSect},
            VENUES_PHONE=#{venuesPhone},
            RESPONSIBLE_PERSON=#{responsiblePerson},
            LIAISON_MAN=#{liaisonMan},
            ORGANIZATION=#{organization},
            BRIEF_INTRODUCTION=#{briefIntroduction},
            LAST_MODIFIER=#{lastModifier},
            LAST_MODIFY_TIME= #{lastModifyTime}
        WHERE VENUES_ID = #{venuesId}
    </update>

    <update id="delete" >
        update RM_VENUES_INFO set VENUES_STATUS='02' where VENUES_ID = #{venuesId}
    </update>

    <select id="getByResponsiblePerson" parameterType="String" resultType="com.religion.zhiyun.venues.entity.VenuesEntity">
        select
            *
        from RM_VENUES_INFO
        where RESPONSIBLE_PERSON=#{responsiblePerson}
    </select>

    <select id="querySectAll" resultType="com.religion.zhiyun.venues.entity.VenuesEntity">
        select <include refid="venuesColumn"/> from RM_VENUES_INFO
        <where>
            <if test="religiousSect!=null and religiousSect!=''">
                RELIGIOUS_SECT=#{religiousSect}
            </if>
        </where>
    </select>

    <select id="getVenueByID" resultType="com.religion.zhiyun.venues.entity.VenuesEntity">
        select <include refid="venuesColumn"/>
        from RM_VENUES_INFO
        where VENUES_ID=#{venuesId}
        <!--<where>
            <if test="VENUES_ID!=null and VENUES_ID!=''">
                VENUES_ID=#{venuesId,jdbcType=VARCHAR}
            </if>
        </where>-->
    </select>

    <select id="getAllNum" resultType="map">
        SELECT
            COUNT(VENUES_ID) AS total,
            SUM(CASE WHEN RELIGIOUS_SECT = '100100000005' THEN 1 ELSE 0 END) AS Islamism,
            SUM(CASE WHEN RELIGIOUS_SECT = '100100000003' THEN 1 ELSE 0 END) AS Christianity,
            SUM(CASE WHEN RELIGIOUS_SECT = '100100000004' THEN 1 ELSE 0 END) AS Catholicism,
            SUM(CASE WHEN RELIGIOUS_SECT = '100100000001' THEN 1 ELSE 0 END) AS Buddhism,
            SUM(CASE WHEN RELIGIOUS_SECT = '100100000002' THEN 1 ELSE 0 END) AS Taoism
        FROM rm_venues_info
        where VENUES_STATUS='01'
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(VENUES_ID) from RM_VENUES_INFO where VENUES_STATUS!='02'
    </select>

    <select id="getVenuesByPage" resultType="com.religion.zhiyun.venues.entity.VenuesEntity">
        select
            VENUES_ID as venuesId ,
            VENUES_NAME as venuesName,
            d.DICT_CN_DESC as religiousSect,
            REGISTER_NBR as registerNbr,
            VENUES_PHONE as venuesPhone,
            ORGANIZATION as organization,
            VENUES_ADDRES as venuesAddres,
            PICTURES_PATH as picturesPath,
            RESPONSIBLE_PERSON  as responsiblePerson,
            LIAISON_MAN as liaisonMan,
            BRIEF_INTRODUCTION as briefIntroduction,
            VENUES_STATUS as venuesStatus,
            CREATOR as creator,
            CREATE_TIME as createTime,
            LAST_MODIFIER as lastModifier,
            LAST_MODIFY_TIME as lastModifyTime

        from RM_VENUES_INFO ve
        left join RM_SYS_DICT d on ve.RELIGIOUS_SECT=d.DICT_CD
        where VENUES_STATUS!='02'
        <if test="venuesName != null and venuesName != ''">
            AND  VENUES_NAME LIKE CONCAT('%',#{venuesName},'%')
        </if>
        <if test="responsiblePerson != null and responsiblePerson != ''">
            AND  RESPONSIBLE_PERSON LIKE CONCAT('%',#{responsiblePerson},'%')
        </if>
        <if test="religiousSect != null and religiousSect != ''">
            AND  RELIGIOUS_SECT = #{religiousSect}
        </if>
        order by LAST_MODIFY_TIME desc
        limit #{page},#{size}
    </select>

</mapper>
