<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.task.dao.TaskActInstMapper">

    <insert id="addAct" parameterType="com.religion.zhiyun.task.entity.ActInstEntity"
            keyColumn="actId" useGeneratedKeys="true" keyProperty="actId">
        INSERT INTO TASK_ACT_INST(
            ACT_CODE,
            ACT_RECEIVER,
            ACT_RECEIVE_TM,
            ACT_HANDLER,
            ACT_HANDLE_TM,
            ACT_COMMENT,
            ACT_STATE,
            ACT_INST_ID,
            ACT_TASK_ID,
            ACT_MARK
        )
        VALUES(
            #{actCode},
            #{actReceiver},
            #{actReceiveTm},
            #{actHandler},
            #{actHandleTm},
            #{actComment},
            #{actState},
            #{actInstId},
            #{actTaskId},
            #{actMark}
        );
    </insert>

    <update id="updateAct">
        update TASK_ACT_INST act
        set ACT_HANDLER = #{actHandler},
            ACT_HANDLE_TM = #{actHandleTm},
            ACT_STATE = #{actState},
            ACT_TASK_ID=#{actTaskId}
        where ACT_STATE = #{currentState}
    </update>

    <select id="getAiTaskAct" resultType="com.religion.zhiyun.task.entity.ActInstEntity">
        select
            act.ACT_ID as actId,
            act.ACT_CODE AS actCode,
            (select dc.DICT_CN_DESC from rm_sys_dict dc where dc.DICT_TYPE_CD='2001' and dc.DICT_CD=act.ACT_CODE) as actNode,
            case act.ACT_CODE
                when '20010001' then act. ACT_RECEIVER
                when '20010005' then (select uu.USER_NM from RM_SYS_USER_INFO uu where ta.HANDLE_PERSON=uu.USER_MOBILE)
                when '20010007' then (select uu.USER_NM from RM_SYS_USER_INFO uu where ta.HANDLE_PERSON=uu.USER_MOBILE)
            else (select GROUP_CONCAT(us.USER_NM SEPARATOR ",") from TASK_ACT_ASSIGNEE ass
                    left join RM_SYS_USER_INFO us on ass.ASS_ASSIGNEE=us.USER_ID where ass.ASS_ACT_ID=act.ACT_ID)
            end as actReceiver,
            act.ACT_RECEIVE_TM as actReceiveTm,
            act.ACT_HANDLER as actHandler,
            act.ACT_HANDLE_TM as actHandleTm,
            DATE_FORMAT(act.ACT_HANDLE_TM,"%Y-%m-%d %H:%i:%s") as actHandleTime,
            act.ACT_COMMENT as actComment,
            act.ACT_STATE as actState,
            act.ACT_INST_ID as actInstId,
            act.ACT_MARK as actMark
        from TASK_ACT_INST act
        left join RM_TASK_INFO ta on ta.PROC_INST_ID=act.ACT_INST_ID
        where act.act_inst_id=#{procInstId}
    </select>

    <select id="getAiTaskDetail" resultType="map">
        SELECT
            ta.TASK_NAME as taskName,
            ve.VENUES_NAME as venuesName,
            ve.VENUES_ADDRES as venuesAddres,
            DATE_FORMAT(ta.LAUNCH_TIME,'%Y-%m-%d %H:%i:%s') as taskTime,
            DATE_FORMAT(ta.END_TIME,'%Y-%m-%d %H:%i:%s') as endTime,
            ta.FLOW_TYPE as flowType,
            case when us.USER_NM is not null then us.USER_NM else ma.MANAGER_CN_NM end as launchPerson,
            case when ta.HANDLE_RESULTS is null then '0' else ta.HANDLE_RESULTS end as handleResults,
            ta.TASK_CONTENT  as taskContent,
            case ta.EMERGENCY_LEVEL when '01' then '紧急' when '02' then '普通' else ta.EMERGENCY_LEVEL end as emeLevelCn,
            ta.EMERGENCY_LEVEL as emeLevel,
            ta.LAUNCH_PERSON as launchMobil,
            '330000' as province,
            '330300' as city,
            us.area as area,
            case  ta.REL_VENUES_ID!=us.area
            when ta.REL_VENUES_ID=ve.VENUES_ID then ve.town
            when ve.VENUES_ID is null then ta.REL_VENUES_ID
            else ''
            end as town,
            ta.REL_EVENT_ID as eventId,
            ta.TASK_PICTURE as taskPicture,
            if(ev.PICTURES_PATH is null,'',ev.PICTURES_PATH) as fileId
        FROM rm_task_info ta
        left join rm_venues_info ve on ve.VENUES_ID=ta.REL_VENUES_ID
        left join rm_sys_user_info us on us.USER_MOBILE=ta.LAUNCH_PERSON and us.VALID_IND='1'
        left join rm_venues_manager_info ma on ma.MANAGER_MOBILE=ta.LAUNCH_PERSON and ma.VALID_IND='1'
        left join RM_EVENT_INFO ev on ev.EVENT_ID=ta.REL_EVENT_ID
        where 1=1
        <if test="procInstId!=null and procInstId!=''">
            and ta.PROC_INST_ID = #{procInstId}
        </if>
    </select>

</mapper>
