<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.task.dao.TaskActAssigneeMapper">

    <insert id="addAssignee" parameterType="com.religion.zhiyun.task.entity.AssEntity"
            keyColumn="assId" useGeneratedKeys="true" keyProperty="assId">
        INSERT INTO TASK_ACT_ASSIGNEE(
            ASS_ACT_ID,
            ASS_ASSIGNEE,
            ASS_MODIFY_TM,
            ASS_STATE,
            ASS_MARK
        )
        VALUES(
            #{assActId},
            #{assAssignee},
            #{assModifyTm},
            #{assState},
            #{assMark}
        );
    </insert>



</mapper>
