<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.sys.file.dao.RmFileMapper">

    <insert id="add" parameterType="com.religion.zhiyun.sys.file.entity.FileEntity"
            keyColumn="fileId" useGeneratedKeys="true" keyProperty="fileId">
        insert into
            RM_FILE_INFO (
            FILE_NAME,
            FILE_PATH,
            FILE_TYPE,
            FILE_TITLE,
            CREATOR,
            CREATE_TIME,
            IMG_PATH
            )
            values(
                #{fileName},
                #{filePath},
                #{fileType},
                #{fileTitle},
                #{creator},
                #{createTime},
                #{imgPath}
            )
    </insert>

    <select id="queryPath" resultType="com.religion.zhiyun.sys.file.entity.FileEntity">
        select
            FILE_ID as fileId,
            FILE_NAME as fileName,
            FILE_PATH as filePath
        from RM_FILE_INFO
        where FILE_ID in
        <foreach collection="array" item="fileIds" index="index" open="(" close=")" separator=",">
            #{fileIds}
        </foreach>
    </select>

    <select id="getPath" resultType="map">
        select FILE_PATH as filePath
        from RM_FILE_INFO
        where FILE_ID in
        <foreach collection="array" item="fileIds" index="index" open="(" close=")" separator=",">
            #{fileIds}
        </foreach>
    </select>

    <select id="getFileUrl" resultType="java.util.Map">
        select
            FILE_ID as fileId,
            FILE_NAME as name,
            FILE_PATH as url,
            FILE_TITLE as fileTitle,
            IMG_PATH as imgPath
        from RM_FILE_INFO
        where FILE_ID in
        <foreach collection="array" item="fileIds" index="index" open="(" close=")" separator=",">
            #{fileIds}
        </foreach>
    </select>

    <delete id="delete">
        delete from RM_FILE_INFO where FILE_ID =#{fileId}
    </delete>

    <select id="getUserUrl" resultType="String">
        select
            FILE_PATH as url
        from RM_FILE_INFO
        where FILE_NAME = #{loginNm}
    </select>

    <update id="updateFilePath" >
        update RM_FILE_INFO t set IMG_PATH=#{imgPath}  where FILE_ID=#{fileId}
    </update>

    <select id="getInit" resultType="java.util.Map">
        select
            FILE_ID as fileId,
            FILE_NAME as fileName,
            FILE_PATH as filePath
        from RM_FILE_INFO
        where CREATOR LIKE concat('%',#{creator},'%')
    </select>

</mapper>
