<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.staff.dao.RmStaffInfoMapper">

    <insert id="add" parameterType="com.religion.zhiyun.staff.entity.StaffEntity">
          insert into rm_staff_info VALUES(#{staffId},#{staffCd},#{staffName},#{certTypeCD},#{certNbr},#{religiousSect},#{staffPicture},
          #{staffTelphone},#{staffStatus},#{staffPost},#{relVenuesId},#{creator},#{createTime},#{lastModifier},#{lastModifyTime})
    </insert>

</mapper>
