<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.sys.base.dao.SysBaseMapper">
    <select id="getOpenState" resultType="string">
        SELECT
            OPEN_STATE as openState
        FROM RM_SYS_BASE_INFO sys
        where sys.SYS_EN_NM =#{sysEnNm}
    </select>

</mapper>
