<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.user.dao.SysUserMapper">

    <sql id="userColumn">
        USER_ID as userId,
        LOGIN_NM as loginNm,
        PASSWORDS as passwords,
        WEAK_PW_IND as weakPwInd,
        USER_NM as userNm,
        USER_MOBILE as userMobile,
        USER_EMAIL as userEmail,
        USER_PHOTO_URL as userPhotoUrl,
        IDENTITY as identity,
        USER_NBR as userNbr,
        OFC_ID as ofcId,
        CREATE_TIME as createTime,
        VALID_IND as validInd
    </sql>

    <select id="queryAll" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select * from RM_SYS_USER_INFO
    </select>

    <insert id="add" parameterType="com.religion.zhiyun.user.entity.SysUserEntity" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
            RM_SYS_USER_INFO
            (
                 OFC_ID,
                 DEP_ID,
                 LOGIN_NM,
                 PASSWORDS,
                 USER_NBR,
                 USER_NM,
                 USER_EMAIL,
                 USER_TEL,
                 USER_MOBILE,
                 USER_TYPE_CD,
                 USER_PHOTO_URL,
                 LOGIN_IP,
                 LOGIN_TIME,
                 LOGIN_IND,
                 VALID_IND,
                 USER_OA_NM,
                 WEAK_PW_IND,
                 IDENTITY,
                 CREATE_TIME,
                 LAST_MODIFY_TIME,
                 PROVINCE,
                 CITY,
                 AREA,
                 TOWN,
                 REL_VENUES_ID
             )
             VALUES
            (
                 10001,
                 NULL,
                 #{loginNm},
                 #{passwords},
                 #{userNbr},
                 #{userNm},
                 #{userEmail},
                 NULL,
                 #{userMobile},
                 NULL,
                 #{userPhotoUrl},
                 NULL,
                 NULL,
                 '0',
                 '1',
                 NULL,
                 #{weakPwInd},
                 #{identity},
                 #{createTime},
                 #{lastModifyTime},
                 #{province},
                 #{city},
                 #{area},
                 #{town},
                 #{relVenuesId}
             );
    </insert>

    <select id="queryByName" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            <include refid="userColumn"/>
        from RM_SYS_USER_INFO
        where LOGIN_NM = #{loginNm} or USER_NM= #{loginNm}
    </select>

    <select id="queryByNbr" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            <include refid="userColumn"/>
        from RM_SYS_USER_INFO where USER_NBR = #{userNbr}
    </select>

    <select id="queryByUserId" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
        <include refid="userColumn"/>
        from RM_SYS_USER_INFO
        where USER_ID = #{userId}
    </select>

    <select id="getUsersByPage" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
        <include refid="userColumn"/>
        from RM_SYS_USER_INFO
        where VALID_IND='1'
        <if test="loginNm != null and loginNm != ''">
            AND  LOGIN_NM LIKE CONCAT('%',#{loginNm},'%')
        </if>
        <if test="identity != null and identity != ''">
            AND  IDENTITY = #{identity}
        </if>
        order by LAST_MODIFY_TIME desc
        limit #{page},#{size}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from RM_SYS_USER_INFO  where  VALID_IND='1'
    </select>

    <select id="getMaxUserNbr" resultType="java.lang.Long">
        select max(USER_NBR) as userNbr from RM_SYS_USER_INFO
    </select>

    <update id="delete">
        update RM_SYS_USER_INFO set VALID_IND='0' where USER_ID = #{userId}
    </update>

    <update id="update">
        update RM_SYS_USER_INFO
        set
            LOGIN_NM = #{loginNm},
            PASSWORDS = #{passwords},
            USER_NM = #{userNm},
            USER_MOBILE = #{userMobile},
            USER_EMAIL = #{userEmail},
            USER_PHOTO_URL = #{userPhotoUrl},
            IDENTITY = #{identity},
            USER_NBR = #{userNbr},
            WEAK_PW_IND=#{weakPwInd},
            LAST_MODIFY_TIME = #{lastModifyTime}
        WHERE USER_ID = #{userId}
    </update>

    <select id="queryStarter" resultType="java.lang.String">
        select
            u.IDENTITY as identity
        from act_hi_identitylink h
        left join rm_sys_user_info u on h.USER_ID_=u.USER_NBR
        where h.TYPE_='starter'
        <if test="procInstId != null and procInstId != ''">
            and h.PROC_INST_ID_ = #{procInstId}
        </if>
    </select>

    <select id="getUserByVenues" resultType="java.util.Map">
        select  zuyuan.USER_NBR as zuyuan,
                zuzh.USER_NBR as zuzh,
                jiegan.USER_NBR as jiegan,
                jiewei.USER_NBR as jiewei,
                qugan.USER_NBR as qugan,
                quwei.USER_NBR as quwei,
                admin.USER_NBR as admin
        from rm_sys_user_info zuyuan
        left join rm_sys_user_info zuzh on zuyuan.OFC_ID=zuzh.USER_NBR
        left join rm_sys_user_info jiegan on zuzh.OFC_ID=jiegan.USER_NBR
        left join rm_sys_user_info jiewei on jiegan.OFC_ID=jiewei.USER_NBR
        left join rm_sys_user_info qugan on jiewei.OFC_ID=qugan.USER_NBR
        left join rm_sys_user_info quwei on qugan.OFC_ID=quwei.USER_NBR
        left join rm_sys_user_info admin on quwei.OFC_ID=admin.USER_NBR
        where VALID_IND='1'
        <if test="relVenuesId != null and relVenuesId != ''">
            and (
                zuyuan.REL_VENUES_ID=#{relVenuesId}
                or zuzh.REL_VENUES_ID=#{relVenuesId}
                or jiegan.REL_VENUES_ID=#{relVenuesId}
                or jiewei.REL_VENUES_ID=#{relVenuesId}
                or qugan.REL_VENUES_ID=#{relVenuesId}
                or quwei.REL_VENUES_ID=#{relVenuesId}
                or admin.REL_VENUES_ID=#{relVenuesId}
            )
        </if>
    </select>

    <select id="getSanByVenues" resultType="java.util.Map">
        select  zuyuan.USER_NBR as zuyuan,
                zuzh.USER_NBR as zuzh
        from rm_sys_user_info zuyuan
        left join rm_sys_user_info zuzh on zuyuan.OFC_ID=zuzh.USER_NBR
        where VALID_IND='1'
        <if test="relVenuesId != null and relVenuesId != ''">
        and (
            zuyuan.REL_VENUES_ID=#{relVenuesId}
            or zuzh.REL_VENUES_ID=#{relVenuesId}
        )
        </if>
    </select>

    <select id="getJie" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            jie.USER_NM as userNm,
            jie.LOGIN_NM as loginNm
        FROM  RM_SYS_USER_INFO zu
        LEFT JOIN RM_SYS_USER_INFO jie on zu.town=jie.town and jie.IDENTITY  in ('10000004','10000005')
        WHERE jie.VALID_IND='1'
        <if test="loginNm != null and loginNm != ''">
            and zu.LOGIN_NM = #{loginNm}
        </if>
        <if test="identity != null and identity != ''">
            and zu.IDENTITY = #{identity}
        </if>
    </select>

    <select id="getQu" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            qu.USER_NM as userNm,
            qu.LOGIN_NM as loginNm
        FROM  RM_SYS_USER_INFO jie
        LEFT JOIN RM_SYS_USER_INFO qu on qu.area=jie.area and qu.IDENTITY  in ('10000002','10000003')
        WHERE qu.VALID_IND='1'
        <if test="loginNm != null and loginNm != ''">
            and jie.LOGIN_NM = #{loginNm}
        </if>
        <if test="identity != null and identity != ''">
            and jie.IDENTITY = #{identity}
        </if>
    </select>

</mapper>
