<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.task.dao.TaskInfoMapper">

    <insert id="addTask">
        insert into rm_task_info(
            TASK_NAME,
            TASK_CONTENT,
            END_TIME,
            REL_VENUES_ID,
            EMERGENCY_LEVEL,
            TASK_PICTURE,
            TASK_VIDEO,
            LAUNCH_PERSON,
            HANDLE_PERSON,
            HANDLE_RESULTS,
            HANDLE_TIME,
            TASK_TYPE,
            PROC_INST_ID,
            FLOW_TYPE,
            LAUNCH_TIME
        )
        values (
            #{taskName},
            #{taskContent},
            #{endTime},
            #{relVenuesId},
            #{emergencyLevel},
            #{taskPicture},
            #{taskVideo},
            #{launchPerson},
            #{handlePerson},
            #{handleResults},
            #{handleTime},
            #{taskType},
            #{procInstId},
            #{flowType},
            #{launchTime}
        )
    </insert>

    <update id="updateTask" >
        update rm_task_info t
            set t.HANDLE_PERSON=#{handlePerson},
            t.HANDLE_RESULTS=#{handleResults},
            t.HANDLE_TIME=#{handleTime}
        where PROC_INST_ID=#{procInstId}
    </update>

    <sql id="taskColumn">
        TASK_NAME as taskName,
        TASK_CONTENT as taskContent,
        END_TIME as endTime,
        REL_VENUES_ID as relVenuesId,
        EMERGENCY_LEVEL as emergencyLevel,
        TASK_PICTURE as taskPicture,
        TASK_VIDEO as taskVideo,
        LAUNCH_PERSON as launchPerson,
        HANDLE_PERSON as handlePerson,
        HANDLE_RESULTS as handleResults,
        HANDLE_TIME as handleTime,
        TASK_TYPE as taskType,
        PROC_INST_ID as procInstId
    </sql>

    <select id="queryTaskCommon" resultType="map">
        select
            case task.num
            when 1 then '任务发起'
            when 2 then '任务处理节点1'
            when 3 then '任务处理节点2'
            when 4 then '任务处理节点3'
            when 5 then '任务处理节点4'
            when 6 then '任务处理节点5'
            end as jieDian,
            task.handleTime,
            task.message,
            task.taskNm
        from(
            select
                @rownum := @rownum +1 as num,
                DATE_FORMAT(co.TIME_,'%Y-%m-%d %H:%i:%s') as handleTime,
                co.MESSAGE_ as message,
                case when us.USER_NM is not null then us.USER_NM
                else u.MANAGER_CN_NM
                end as taskNm
            from act_hi_identitylink ti
            left join act_hi_comment  co on ti.USER_ID_=co.USER_ID_ and ti.PROC_INST_ID_=co.PROC_INST_ID_
            left join rm_sys_user_info us on us.USER_MOBILE=ti.USER_ID_
            left join rm_venues_manager_info u on u.MANAGER_MOBILE=ti.USER_ID_
            join (SELECT  @rownum := 0) r
            where ti.PROC_INST_ID_=#{procInstId}
            order by co.TIME_ desc
        )task
    </select>

    <select id="queryTasks" resultType="map">
        SELECT
            ta.TASK_NAME as taskName,
            ve.VENUES_NAME as venuesAddres,
            di.DICT_CN_DESC as flowType,
            DATE_FORMAT(ta.END_TIME,'%Y-%m-%d %H:%i:%s') as endTime,
            case when ta.FLOW_TYPE in ('03','04','06') then u.MANAGER_CN_NM else us.USER_NM end as launchPerson,
            case ta.HANDLE_RESULTS
                when '0' then '未解决'
                when '1' then '已解决'
                else ta.HANDLE_RESULTS
            end as handleResults,
            case when ta.HANDLE_TIME is null then '进行中' else '已结束' end as statTask,
            ta.PROC_INST_ID as procInstId
        FROM rm_task_info ta
        left join rm_venues_info ve on ve.VENUES_ID=ta.REL_VENUES_ID
        left join rm_sys_dict di on ta.FLOW_TYPE=di.DICT_CD and di.DICT_TYPE_CD='1003'
        left join rm_sys_user_info us on us.USER_MOBILE=ta.LAUNCH_PERSON
        left join rm_venues_manager_info u on u.MANAGER_MOBILE=ta.LAUNCH_PERSON
        left join act_hi_identitylink ac on ac.PROC_INST_ID_ = ta.PROC_INST_ID and ac.TYPE_='starter'
        where 1=1
        <if test="vo.searchThree != null and vo.searchThree != ''">
            and ac.USER_ID_=#{vo.searchThree}
        </if>
        <if test="vo.searchOne != null and vo.searchOne != ''">
            and ta.TASK_NAME LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            and ve.VENUES_NAME  LIKE CONCAT('%',#{vo.searchTwo},'%')
        </if>
        order by ta.HANDLE_RESULTS,ta.END_TIME
        limit #{vo.page},#{vo.size}
    </select>

    <select id="queryTasksTotal" resultType="long">
        SELECT
            count(ta.TASK_ID)
        FROM rm_task_info ta
        left join act_hi_identitylink ac on ac.PROC_INST_ID_ = ta.PROC_INST_ID and ac.TYPE_='starter'
        where 1=1
        <if test="vo.searchThree != null and vo.searchThree != ''">
            and ac.USER_ID_=#{vo.searchThree}
        </if>
        <if test="vo.searchOne != null and vo.searchOne != ''">
            and ta.TASK_NAME LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            and ve.VENUES_NAME  LIKE CONCAT('%',#{vo.searchTwo},'%')
        </if>
    </select>

    <select id="getTaskNum" resultType="map">
        select
            count(USER_ID_) as allSum,
            ifnull(SUM(CASE WHEN d.TYPE_ = 'starter' THEN 1 ELSE 0 END),0) AS startSum,
            ifnull(SUM(CASE WHEN d.TYPE_ = 'participant' THEN 1 ELSE 0 END),0) AS executeNum
        from act_hi_identitylink d
        where user_id_ =#{loginNm}
    </select>
    <select id="queryByInstId" resultType="map">
        select
            ta.TASK_NAME as taskName,
            ta.TASK_CONTENT as taskContent,
            DATE_FORMAT(ta.END_TIME ,'%Y-%m-%d %H:%i:%s') as endTime,
            ve.VENUES_ADDRES as venuesAddres,
            case ta.EMERGENCY_LEVEL
            when '01' then '紧急'
            when '02' then '普通'
            else ta.EMERGENCY_LEVEL
            end as emergencyLevel,
            ta.EMERGENCY_LEVEL as emergencyLevelCode,
            case when FLOW_TYPE in ('06','04','03') then ma.MANAGER_CN_NM
            else us.USER_NM
            end as launchPerson,
            DATE_FORMAT(ta.LAUNCH_TIME ,'%Y-%m-%d %H:%i:%s') as launchTime,
            DATE_FORMAT(ta.HANDLE_TIME ,'%Y-%m-%d %H:%i:%s') as handleTime,
            ta.HANDLE_RESULTS as handleResults,
            ta.PROC_INST_ID as procInstId,
            ta.FLOW_TYPE as flowType,
            ta.TASK_TYPE as taskType

        from rm_task_info ta
        left join rm_venues_info ve on ve.VENUES_ID=ta.REL_VENUES_ID
        left join rm_sys_user_info us on ta.LAUNCH_PERSON=us.USER_MOBILE
        left join rm_venues_manager_info ma on ma.MANAGER_MOBILE=ta.LAUNCH_PERSON
        where ta.PROC_INST_ID in
        <foreach collection="idList" item="procInstId" index="index" open="(" close=")" separator=",">
            #{procInstId}
        </foreach>
        order by ta.END_TIME desc
        limit #{page},#{size}

    </select>

    <select id="getProcdef" resultType="com.religion.zhiyun.task.entity.ProcdefEntity">
        select
            pro.NAME_ as name,
            pro.DESCRIPTION_ as description,
            pro.KEY_  as taskKey,
            pro.VERSION_ as version,
            pro.RESOURCE_NAME_ as resourceName
        from act_re_procdef pro
        where 1=1
        <if test="taskName != null and taskName != ''">
            and pro.NAME_ LIKE CONCAT('%',#{taskName},'%')
        </if>
        order by pro.KEY_ ,pro.VERSION_ desc
        limit #{page},#{size}
    </select>

    <insert id="addFill">
        insert into rm_filing_info(
            TASK_NAME,
            TASK_CONTENT,
            REL_VENUES_ID,
            TASK_PICTURE,
            TASK_VIDEO,
            LAUNCH_PERSON,
            LAUNCH_TIME,
            HANDLE_PERSON,
            HANDLE_RESULTS,
            HANDLE_TIME,
            PROC_INST_ID,
            PART_NUM,
            RESPONSIBLE_PERSON,
            TASK_TIME,
            FILING_STATUS
        )
        values (
            #{taskName},
            #{taskContent},
            #{relVenuesId},
            #{taskPicture},
            #{taskVideo},
            #{launchPerson},
            #{launchTime},
            #{handlePerson},
            #{handleResults},
            #{handleTime},
            #{procInstId},
            #{partNum},
            #{responsiblePerson},
            #{taskTime},
            #{filingStatus}
        )
    </insert>

    <update id="updateFill" >
        update rm_filing_info t
        set t.HANDLE_PERSON=#{handlePerson},
            t.HANDLE_RESULTS=#{handleResults},
            t.HANDLE_TIME=#{handleTime},
            t.FILING_STATUS='02'
        where t.PROC_INST_ID=#{procInstId}
    </update>

    <select id="getIssuedUsers" resultType="String">
        select
            f.USER_MOBILE AS loginNm
        FROM rm_sys_user_info f
        left join rm_sys_user_info u on u.province=f.province
        where f.VALID_IND='1'
        and u.USER_MOBILE=#{loginNm}
        and f.IDENTITY  not in
        <foreach collection="identityArr" item="identity" index="index" open="(" close=")" separator=",">
            #{identity}
        </foreach>
        <if test="province != null and province != ''">
            and f.province=#{province}
        </if>
        <if test="city != null and city != ''">
            and f.city=#{city}
        </if>
        <if test="area != null and area != ''">
            and f.area=#{area}
        </if>
        <if test="town != null and town != ''">
            and f.town=#{town}
        </if>
        <if test="relVenuesId != null and relVenuesId != ''">
            and f.REL_VENUES_ID=#{relVenuesId}
        </if>

        order by f.IDENTITY
    </select>

    <select id="getJieGanUsers" resultType="String">
        select
           distinct g.USER_MOBILE as userMobile
        from rm_sys_user_info  g
        left join rm_sys_user_info u on g.town=u.town
        where g.VALID_IND='1'
        and g.IDENTITY ='10000005'
        <if test="relVenuesId!=null and relVenuesId!=''">
            and u.REL_VENUES_ID = #{relVenuesId}
        </if>
        order by g.user_id
    </select>

    <select id="getFillHistory" resultType="map">
        select
            t.FILING_ID as filingId,
            t.TASK_NAME as taskName,
            DATE_FORMAT(t.TASK_TIME,'%Y-%m-%d %H:%i:%s') as taskTime,
            v.VENUES_NAME as venuesName,
            t.PART_NUM as partNum,
            t.RESPONSIBLE_PERSON as responsiblePerson,
            t.TASK_CONTENT as taskContent
        from rm_filing_info t
        left join rm_venues_info v on v.VENUES_ID =t.REL_VENUES_ID
        left join rm_venues_manager_info m on v.RESPONSIBLE_PERSON=m.MANAGER_ID
        where t.FILING_STATUS='02'
        and m.MANAGER_MOBILE=#{login}
        <if test="search!=null and search!=''">
            AND  (
            t.TASK_NAME LIKE CONCAT('%',#{search},'%')
            or t.TASK_CONTENT LIKE CONCAT('%',#{search},'%')
            or v.VENUES_NAME LIKE CONCAT('%',#{search},'%')
            )
        </if>
        order by t.TASK_TIME desc
        limit #{page},#{size}

    </select>

    <select id="getFillHisDetail" resultType="map">
        select
            t.FILING_ID as filingId,
            t.TASK_NAME as taskName,
            DATE_FORMAT(t.TASK_TIME,'%Y-%m-%d %H:%i:%s') as taskTime,
            v.VENUES_NAME as venuesName,
            t.PART_NUM as partNum,
            t.TASK_CONTENT as taskContent,
            m.MANAGER_CN_NM as responsiblePerson,
            t.TASK_PICTURE as taskPicture

        from rm_filing_info t
        left join rm_venues_info v on v.VENUES_ID =t.REL_VENUES_ID
        left join rm_venues_manager_info m on v.RESPONSIBLE_PERSON=m.MANAGER_ID
        where t.FILING_ID =#{filingId}
    </select>

    <select id="getMonitorTask" resultType="map">
        select
            v.VENUES_ADDRES as venuesAddres,
            ta.TASK_CONTENT as taskContent,
            DATE_FORMAT(ta.END_TIME,'%Y-%m-%d %H:%i:%s') as endTime,
            ta.LAUNCH_PERSON as launchPerson,
            ta.PROC_INST_ID as procInstId
        from rm_task_info ta
        left join rm_venues_info v on v.VENUES_ID =ta.REL_VENUES_ID
        where ta.TASK_ID=#{taskId}
    </select>

    <select id="getTaskContent" resultType="String">
        select
            TASK_CONTENT  as taskContent
        from rm_task_info ta
        where ta.PROC_INST_ID = #{procInstId}
    </select>

</mapper>
