<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.religion.zhiyun.user.dao.UserLoginMapper">
    <select id="queryAll" resultType="com.religion.zhiyun.user.entity.UserLogin">
        select * from user_Login
    </select>

    <insert id="adds" parameterType="com.religion.zhiyun.user.entity.UserLogin">
        insert into user_Login values (#{username},#{password})
    </insert>

    <select id="queryByName" resultType="com.religion.zhiyun.user.entity.UserLogin">
        select * from user_Login where USER_NAME = #{username}
    </select>

</mapper>
