<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.sys.menus.dao.MenuInfoMapper">
    <sql id="menuColumn">
        MENU_ID as menuId ,
        PMSN_CD as pmsnCd,
        PARENT_ID as parentId,
        MENU_PRT_IDS as menuPrtIds,
        MENU_NM as menuNm,
        SORT_LVL as sortLvl,
        HREF as href,
        ICON_NM as iconNm,
        RESOURCE_TYPE as resourceType,
        APP_CODE as appCode,
        VALID_IND  as validInd

    </sql>

    <select id="findRoot" resultType="com.religion.zhiyun.sys.menus.entity.MenuEntity">
        select
        <include refid="menuColumn"/>
        from RM_SYS_MENU_INFO
        where RESOURCE_TYPE is not null
    </select>

    <select id="findMenus" resultType="com.religion.zhiyun.sys.menus.entity.MenuEntity">
        select
        <include refid="menuColumn"/>
        from RM_SYS_MENU_INFO
        where 1=1
        <if test="_parameter != null and _parameter != ''">
            and RESOURCE_TYPE = #{resourceType}
        </if>
    </select>

    <select id="findAllChilds" resultType="com.religion.zhiyun.sys.menus.entity.MenuEntity">
        select
        <include refid="menuColumn"/>
        from RM_SYS_MENU_INFO
        where MENU_ID in
        <foreach collection="array" item="menuPrtIds" index="index" open="(" close=")" separator=",">
            #{menuPrtIds}
        </foreach>
    </select>

    <select id="findOneTree" resultType="map">
        select
            MENU_ID as id ,
            MENU_NM as name,
            RESOURCE_TYPE as type
        from RM_SYS_MENU_INFO
        where RESOURCE_TYPE  in ('01','02')
        order by SORT_LVL
    </select>

    <select id="findTwoTree" resultType="map">
        select
            MENU_ID as id ,
            MENU_NM as name,
            RESOURCE_TYPE as type
        from RM_SYS_MENU_INFO
        where RESOURCE_TYPE  in ('03','04')
        <if test="_parameter != null and _parameter != ''">
            and PARENT_ID = #{parentId}
        </if>
        order by SORT_LVL
    </select>

    <select id="findButtonTree" resultType="map">
        select
            MENU_ID as id ,
            MENU_NM as name,
            RESOURCE_TYPE as type
        from RM_SYS_MENU_INFO
        where RESOURCE_TYPE  ='05'
        <if test="_parameter != null and _parameter != ''">
            and PARENT_ID = #{parentId}
        </if>
        order by SORT_LVL
    </select>


</mapper>