<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.user.dao.SysRoleMapper">

    <select id="queryRoles" resultType="com.religion.zhiyun.user.entity.RoleEntity">
        select
            ROLE_ID as roleId,
            ROLE_NM as roleNm
        from RM_SYS_ROLE where VALID_IND='1'
    </select>

    <select id="getRoleNm" resultType="string">
        select ROLE_NM as roleNm from RM_SYS_ROLE where ROLE_ID=#{roleId}
    </select>

    <select id="selectRoleByUserId" resultType="com.religion.zhiyun.user.entity.RoleEntity">
        select
            ro.ROLE_ID as roleId,
            ro.ROLE_NM as roleNm
        FROM rm_sys_role  ro
        LEFT JOIN rm_sys_user_role_rel rel on ro.ROLE_ID=rel.ROLE_ID
        where ro.VALID_IND='1'
        <if test="userId != null and userId != ''">
            and rel.USER_ID=#{userId}
        </if>


    </select>

</mapper>
