<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.religion.zhiyun.user.dao.SysUserMapper">

    <sql id="userColumn">
        USER_ID as userId,
        LOGIN_NM as loginNm,
        PASSWORDS as passwords,
        WEAK_PW_IND as weakPwInd,
        USER_NM as userNm,
        USER_MOBILE as userMobile,
        USER_EMAIL as userEmail,
        USER_PHOTO_URL as userPhotoUrl,
        IDENTITY as identity,
        USER_NBR as userNbr,
        OFC_ID as ofcId,
        CREATE_TIME as createTime,
        VALID_IND as validInd,
        REL_VENUES_ID as relVenuesId,
        PROVINCE,
        CITY,
        AREA,
        TOWN
    </sql>

    <select id="queryAll" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select * from RM_SYS_USER_INFO
    </select>

    <insert id="add" parameterType="com.religion.zhiyun.user.entity.SysUserEntity" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO
            RM_SYS_USER_INFO
            (
                 OFC_ID,
                 DEP_ID,
                 LOGIN_NM,
                 PASSWORDS,
                 USER_NBR,
                 USER_NM,
                 USER_EMAIL,
                 USER_TEL,
                 USER_MOBILE,
                 USER_TYPE_CD,
                 USER_PHOTO_URL,
                 LOGIN_IP,
                 LOGIN_TIME,
                 LOGIN_IND,
                 VALID_IND,
                 USER_OA_NM,
                 WEAK_PW_IND,
                 IDENTITY,
                 CREATE_TIME,
                 LAST_MODIFY_TIME,
                 PROVINCE,
                 CITY,
                 AREA,
                 TOWN,
                 REL_VENUES_ID
             )
             VALUES
            (
                 10001,
                 NULL,
                 #{loginNm},
                 #{passwords},
                 #{userNbr},
                 #{userNm},
                 #{userEmail},
                 NULL,
                 #{userMobile},
                 NULL,
                 #{userPhotoUrl},
                 NULL,
                 NULL,
                 '0',
                 '1',
                 NULL,
                 #{weakPwInd},
                 #{identity},
                 #{createTime},
                 #{lastModifyTime},
                 #{province},
                 #{city},
                 #{area},
                 #{town},
                 #{relVenuesId}
             );
    </insert>

    <select id="queryByName" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            <include refid="userColumn"/>
        from RM_SYS_USER_INFO
        where LOGIN_NM = #{loginNm} or USER_NM= #{loginNm} or USER_MOBILE= #{loginNm}
    </select>

    <select id="queryByNbr" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            <include refid="userColumn"/>
        from RM_SYS_USER_INFO where USER_NBR = #{userNbr}
    </select>

    <select id="queryByTel" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
        <include refid="userColumn"/>
        from RM_SYS_USER_INFO
        where  USER_MOBILE= #{userMobile}
        or LOGIN_NM LIKE CONCAT('%',#{userMobile},'%')
        or USER_NM LIKE CONCAT('%',#{userMobile},'%')
    </select>

    <select id="queryTelNum" resultType="java.lang.Long">
        select
            COUNT(USER_ID)
        from RM_SYS_USER_INFO where  USER_MOBILE= #{userMobile}
    </select>

    <select id="queryByUserId" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
        <include refid="userColumn"/>
        from RM_SYS_USER_INFO
        where USER_ID = #{userId}
    </select>

    <select id="getUsersByPage" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            <include refid="userColumn"/>
        from RM_SYS_USER_INFO ve
        where VALID_IND='1'
        <if test="vo.searchOne != null and vo.searchOne != ''">
            AND  LOGIN_NM LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            AND  IDENTITY = #{vo.searchTwo}
        </if>
        <if test="vo.town != null and vo.town != ''">
            AND  ve.TOWN = #{vo.town}
        </if>
        <if test="vo.area != null and vo.area != ''">
            AND  ve.AREA = #{vo.area}
        </if>
        <if test="vo.venues != null and vo.venues != ''">
            AND ve.REL_VENUES_ID =#{vo.venues}
        </if>

        order by LAST_MODIFY_TIME desc
        limit #{vo.page},#{vo.size}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select
            count(USER_ID)
        from RM_SYS_USER_INFO ve
        where  VALID_IND='1'
        <if test="vo.searchOne != null and vo.searchOne != ''">
            AND  LOGIN_NM LIKE CONCAT('%',#{vo.searchOne},'%')
        </if>
        <if test="vo.searchTwo != null and vo.searchTwo != ''">
            AND  IDENTITY = #{vo.searchTwo}
        </if>
        <if test="vo.town != null and vo.town != ''">
            AND  ve.TOWN = #{vo.town}
        </if>
        <if test="vo.area != null and vo.area != ''">
            AND  ve.AREA = #{vo.area}
        </if>
        <if test="vo.venues != null and vo.venues != ''">
            AND ve.REL_VENUES_ID =#{vo.venues}
        </if>
    </select>

    <select id="getMaxUserNbr" resultType="java.lang.Long">
        select max(USER_NBR) as userNbr from RM_SYS_USER_INFO
    </select>

    <update id="delete">
        update RM_SYS_USER_INFO set VALID_IND='0' where USER_ID = #{userId}
    </update>

    <update id="update">
        update RM_SYS_USER_INFO
        set
            LOGIN_NM = #{loginNm},
            PASSWORDS = #{passwords},
            USER_NM = #{userNm},
            USER_MOBILE = #{userMobile},
            USER_EMAIL = #{userEmail},
            USER_PHOTO_URL = #{userPhotoUrl},
            IDENTITY = #{identity},
            USER_NBR = #{userNbr},
            WEAK_PW_IND=#{weakPwInd},
            LAST_MODIFY_TIME = #{lastModifyTime}
        WHERE USER_ID = #{userId}
    </update>

    <select id="queryStarter" resultType="java.lang.String">
        select
            u.IDENTITY as identity
        from act_hi_identitylink h
        left join rm_sys_user_info u on h.USER_ID_=u.LOGIN_NM
        where h.TYPE_='starter'
        <if test="procInstId != null and procInstId != ''">
            and h.PROC_INST_ID_ = #{procInstId}
        </if>
    </select>

    <select id="getUserByVenues" resultType="java.util.Map">
        select  zuyuan.USER_NBR as zuyuan,
                zuzh.USER_NBR as zuzh,
                jiegan.USER_NBR as jiegan,
                jiewei.USER_NBR as jiewei,
                qugan.USER_NBR as qugan,
                quwei.USER_NBR as quwei,
                admin.USER_NBR as admin
        from rm_sys_user_info zuyuan
        left join rm_sys_user_info zuzh on zuyuan.OFC_ID=zuzh.USER_NBR
        left join rm_sys_user_info jiegan on zuzh.OFC_ID=jiegan.USER_NBR
        left join rm_sys_user_info jiewei on jiegan.OFC_ID=jiewei.USER_NBR
        left join rm_sys_user_info qugan on jiewei.OFC_ID=qugan.USER_NBR
        left join rm_sys_user_info quwei on qugan.OFC_ID=quwei.USER_NBR
        left join rm_sys_user_info admin on quwei.OFC_ID=admin.USER_NBR
        where VALID_IND='1'
        <if test="relVenuesId != null and relVenuesId != ''">
            and (
                zuyuan.REL_VENUES_ID=#{relVenuesId}
                or zuzh.REL_VENUES_ID=#{relVenuesId}
                or jiegan.REL_VENUES_ID=#{relVenuesId}
                or jiewei.REL_VENUES_ID=#{relVenuesId}
                or qugan.REL_VENUES_ID=#{relVenuesId}
                or quwei.REL_VENUES_ID=#{relVenuesId}
                or admin.REL_VENUES_ID=#{relVenuesId}
            )
        </if>
    </select>

    <select id="getSanByVenues" resultType="java.util.Map">
        select
            zy.USER_NBR as userNbr
        from rm_sys_user_info zy
        where zy.VALID_IND='1'
        <if test="relVenuesId != null and relVenuesId != ''">
        and zy.REL_VENUES_ID=#{relVenuesId}
        </if>
    </select>

    <select id="getJie" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            jie.USER_NM as userNm,
            jie.LOGIN_NM as loginNm
        FROM  RM_SYS_USER_INFO zu
        LEFT JOIN RM_SYS_USER_INFO jie on zu.town=jie.town and jie.IDENTITY  in ('10000004','10000005')
        WHERE jie.VALID_IND='1'
        <if test="loginNm != null and loginNm != ''">
            and zu.LOGIN_NM = #{loginNm}
        </if>
        <if test="identity != null and identity != ''">
            and zu.IDENTITY = #{identity}
        </if>
    </select>

    <select id="getQu" resultType="com.religion.zhiyun.user.entity.SysUserEntity">
        select
            qu.USER_NM as userNm,
            qu.LOGIN_NM as loginNm
        FROM  RM_SYS_USER_INFO jie
        LEFT JOIN RM_SYS_USER_INFO qu on qu.area=jie.area and qu.IDENTITY  in ('10000002','10000003')
        WHERE qu.VALID_IND='1'
        <if test="loginNm != null and loginNm != ''">
            and jie.LOGIN_NM = #{loginNm}
        </if>
        <if test="identity != null and identity != ''">
            and jie.IDENTITY = #{identity}
        </if>
    </select>

    <select id="getYuanNum" resultType="int">
        select
            count(u.USER_ID)
        from RM_SYS_USER_INFO u
        where u.IDENTITY='10000007'
        and u.VALID_IND='1'
        and u.REL_VENUES_ID=#{relVenuesId}
    </select>

    <update id="updatePassword">
        update RM_SYS_USER_INFO
        set
            PASSWORDS = #{passwords},
            WEAK_PW_IND=#{weakPwInd},
            LAST_MODIFY_TIME = #{lastModifyTime}
        WHERE USER_ID = #{userId}
    </update>

    <select id="getZuZhang" resultType="map">
        SELECT zz.LOGIN_NM as loginNm,zz.USER_NM as userNm
        FROM rm_sys_user_info zy,rm_sys_user_info zz
        where zy.REL_VENUES_ID=zz.REL_VENUES_ID
        and zz.VALID_IND='1'
        and zz.IDENTITY='10000006'
        and zy.IDENTITY='10000007'
        <if test="userMobile != null and userMobile != ''">
            and zy.USER_MOBILE=#{userMobile}
        </if>
        <if test="loginNm != null and loginNm != ''">
            and zy.LOGIN_NM=#{loginNm}
        </if>

    </select>

    <select id="getJieGan" resultType="map">
        SELECT jg.LOGIN_NM as loginNm,jg.USER_NM as userNm
        FROM rm_sys_user_info zz,rm_sys_user_info jg
        where zz.town=jg.town
        and jg.VALID_IND='1'
        and jg.IDENTITY='10000005'
        and zz.IDENTITY='10000006'
        <if test="userMobile != null and userMobile != ''">
            and zz.USER_MOBILE=#{userMobile}
        </if>
        <if test="loginNm != null and loginNm != ''">
            and zz.LOGIN_NM=#{loginNm}
        </if>
    </select>

    <select id="getJieWei" resultType="map">
        SELECT jw.LOGIN_NM as loginNm,jw.USER_NM as userNm
        FROM rm_sys_user_info jw,rm_sys_user_info jg
        where jw.town=jg.town
        and jw.VALID_IND='1'
        and jw.IDENTITY='10000004'
        and jg.IDENTITY='10000005'
        <if test="userMobile != null and userMobile != ''">
            and jg.USER_MOBILE=#{userMobile}
        </if>
        <if test="loginNm != null and loginNm != ''">
            and jg.LOGIN_NM=#{loginNm}
        </if>
    </select>

    <select id="getQuGan" resultType="map">
        SELECT qg.LOGIN_NM as loginNm,qg.USER_NM as userNm
        FROM rm_sys_user_info jw,rm_sys_user_info qg
        where qg.area=jw.area
        and qg.VALID_IND='1'
        and qg.IDENTITY='10000003'
        and jw.IDENTITY='10000004'
        <if test="userMobile != null and userMobile != ''">
            and jw.USER_MOBILE=#{userMobile}
        </if>
        <if test="loginNm != null and loginNm != ''">
            and jw.LOGIN_NM=#{loginNm}
        </if>
    </select>

    <select id="getQuWei" resultType="map">
        SELECT qw.LOGIN_NM as loginNm,qw.USER_NM  as userNm
        FROM rm_sys_user_info qw,rm_sys_user_info qg
        where qg.area=qw.area
        and qw.VALID_IND='1'
        and qw.IDENTITY='10000002'
        and qg.IDENTITY='10000003'
        <if test="userMobile != null and userMobile != ''">
            and qg.USER_MOBILE=#{userMobile}
        </if>
        <if test="loginNm != null and loginNm != ''">
            and qg.LOGIN_NM=#{loginNm}
        </if>
    </select>

    <select id="queryBySearch" resultType="map">
        select
            USER_ID as userId,
            USER_NM as userNm,
            USER_MOBILE as userMobile
        from RM_SYS_USER_INFO
        where  USER_MOBILE= #{search}
        or LOGIN_NM LIKE CONCAT('%',#{search},'%')
        or USER_NM LIKE CONCAT('%',#{search},'%')
    </select>

</mapper>
